@tailwind base;
@tailwind components;
@tailwind utilities;

/* 스크롤바 숨기기 */
body {
  overflow: hidden;
  font-family: "Plus Jakarta Sans", "Noto Sans", sans-serif; /* 기존 폰트 설정 유지 */
}

/* 특정 요소에서 스크롤바가 필요한 경우를 위해 */
.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #555;
} 